{% extends 'base.html.twig' %}
{% block main %}
<a href="/admin/"> admin </a>
<br />
    <a href="/register/"> register  </a>


{% endblock %}

{% block lead %}
<noindex>
    Реализовать страницу с формой загрузки файлов и страницу с выводом списка файлов, с возможностью их скачивания. Каждый файл должен иметь такие свойства:
    Название
    Размер файла
    Дата создания
    Весь функционал должен быть доступен только для авторизованных пользователей, в т.ч. и скачивание файлов. В списке необходимо реализовать AJAX выдачу по кнопке «Еще», и кеширование.
</noindex>
{% endblock %}
